@import './base.css';
@import './wangeditor.css';

.overflowShow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.dynamic-content {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


